h2 {
    border-bottom: 1px solid gray;
    color: #666;
    padding-bottom: 2%;
    text-align: left;
}

#container {
    width: 50%;
    margin: 0 auto;
    margin-top: 2%;
    
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
}

button {
    border-radius: 4px;
    height: 10%;
    margin: 2% 0 2% 0;
    padding: 2%;
    border: 1px solid white;
    
    font-size: 1em;
    cursor: pointer;
    
    color: white;
}

button#newgameBtn {
    background-color: rgb(51, 122, 183);
}

button#guessBtn {
    background-color: #5cb85c;
}

#game {
    margin: 0 auto;
    text-align: center;
}

#game #letters {
    font-size: 3em;
    margin: 2%;
}

.game-subtext {
    margin: 2%;
    font-size: 1.2em;
}

#game input[type=text] {
    width: 10%;
    height: 10%;
    border: 1px solid black;
    font-size: 1.2em;
    text-align: center;
}